
.buildlog
.pub/
build/
packages
.packages
*.dart.js
*.js_
*.js.deps
*.js.map
config.yaml
workspace.xml
Dart_Packages.xml
.DS_Store
.idea/dictionaries
migrations/migration.yaml
error.log
.aqueductpid
.aqueductsignal
api.log*
.idea/

# See https://www.dartlang.org/tools/private-files.html

# Files and directories created by pub
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

